@import '../../../styles/mixins/media-queries';
@import '../../../styles/mixins/shadow';
@import '../../../styles/variables/colors';

.white__section,
.grey__section {
  &-visual {
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    .ant-illu-1 {
      z-index: 1;
      background-image: url('../../../../public/assets/img/illus/ant1.png');
      position: relative;
      display: flex;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }
    .ant-illu-2 {
      z-index: 1;
      background-image: url('../../../../public/assets/img/illus/ant2.png');
      position: relative;
      display: flex;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .ant-illu-3 {
      z-index: 1;
      background-image: url('../../../../public/assets/img/illus/ant3.png');
      position: relative;
      display: flex;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .bg__block-1,
    .bg__block-2,
    .bg__block-3 {
      position: absolute;
      z-index: 0;
      @include shadow(1);
      border-radius: 8px;
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;

    @include breakpoint('small-desktop') {
      align-items: center;
    }
    @include breakpoint('tablet') {
      align-items: center;
    }
    @include breakpoint('phone') {
      align-items: center;
    }
    .entete {
      font-weight: bolder;
      font-size: 43px;
      line-height: 45px;
      margin-bottom: 20px;
      color: $dark-blue-color;
      font-weight: 900;
      @include breakpoint('small-desktop') {
        font-size: 40px;
        line-height: 40px;
        text-align: center;
      }
      @include breakpoint('tablet') {
        font-size: 40px;
        line-height: 40px;
        text-align: center;
      }
      @include breakpoint('phone') {
        text-align: center;
        font-size: 35px;
      }
      .highlight {  
        color: $green-color;
      }
    }
    .story {
      font-size: 18px;
      line-height: 25px;
      color: $dark-blue-color;
      @include breakpoint('small-desktop') {
        font-size: 18px;
        text-align: center;
      }
      @include breakpoint('tablet') {
        font-size: 18px;
        text-align: center;
      }
      @include breakpoint('phone') {
        text-align: center;
        font-size: 17px;
      }
    }
  }
}

.white__section {
  min-height: 360px;
  @include breakpoint('desktop') {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  @include breakpoint('small-desktop') {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    flex-flow: row-reverse wrap-reverse !important;
  }
  @include breakpoint('tablet') {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    flex-flow: row-reverse wrap-reverse !important;
  }
  @include breakpoint('phone') {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    flex-flow: row-reverse wrap-reverse !important;
  }
  &:last-child {
    padding-top: 40px;
    @include breakpoint('desktop') {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    @include breakpoint('small-desktop') {
      padding-top: 0;
    }
    @include breakpoint('tablet') {
      padding-top: 0;
    }
    @include breakpoint('phone') {
      padding-top: 0;
    }
  }
  .right {
    @include breakpoint('small-desktop') {
      margin-top: 10px;
    }
    @include breakpoint('tablet') {
      margin-top: 10px;
    }
    @include breakpoint('phone') {
      margin-top: 10px;
    }
  }
  &-visual {
    display: flex;
    @include breakpoint('small-desktop') {
      justify-content: center;
      margin: 50px 0;
    }
    @include breakpoint('tablet') {
      justify-content: center;
      margin: 50px 0;
    }
    @include breakpoint('phone') {
      justify-content: center;
      margin: 50px 0;
    }
  }
  &-text {
    margin-left: 20px;
    @include breakpoint('small-desktop') {
      margin-left: 0;
    }
    @include breakpoint('tablet') {
      margin-left: 0;
    }
    @include breakpoint('phone') {
      margin-left: 0;
    }
  }
}

.grey__section {
  min-height: 430px;
  background-color: $grey-bg-light-color;
  @include breakpoint('small-desktop') {
    padding-top: 40px;
  }
  @include breakpoint('tablet') {
    padding-top: 40px;
  }
  @include breakpoint('phone') {
    padding-top: 40px;
  }
  &-visual {
    display: flex;
    justify-content: center;
    @include breakpoint('small-desktop') {
      justify-content: center;
      margin: 50px 0;
    }
    @include breakpoint('tablet') {
      justify-content: center;
      margin: 50px 0;
    }
    @include breakpoint('phone') {
      justify-content: center;
      margin: 50px 0;
    }
  }
  .left {
    @include breakpoint('small-desktop') {
      padding-bottom: 0px;
    }
    @include breakpoint('tablet') {
      padding-bottom: 0px;
    }
    @include breakpoint('phone') {
      padding-bottom: 0px;
    }
  }
  .right {
    padding-top: 2rem;
    @include breakpoint('small-desktop') {
      padding: 0;
    }
    @include breakpoint('tablet') {
      padding: 0;
    }
    @include breakpoint('phone') {
      padding: 0;
    }
  }
  &-text {
    margin-right: 20px;
    align-items: center;
    @include breakpoint('desktop') {
      align-items: flex-end;
    }
    @include breakpoint('small-desktop') {
      align-items: center;
    }
    .entete {
      @include breakpoint('desktop') {
        text-align: right;
      }
      @include breakpoint('small-desktop') {
        text-align: center;
      }
    }
    .story {
      @include breakpoint('desktop') {
        text-align: right;
      }
      @include breakpoint('small-desktop') {
        text-align: center;
      }
      @include breakpoint('tablet') {
        margin-bottom: 0;
        text-align: center;
        margin-bottom: 20px;
      }
      @include breakpoint('phone') {
        margin-bottom: 0;
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }
}