@import "../../styles/variables/colors";

.loader-container {
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  min-height: 100vh;
  background-color: #000000f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .loader {
    width: 300px;
    height: 200px;
  }

  .loading-text {
    color: $white-color;
    font-size: 30px;
    max-width: 320px;
    text-align: center;
    line-height: 35px;
    margin-top: 15px;
    font-weight: 900;
    background-image: 
    linear-gradient(to right, $white-color, $green-color, $green-light-color); 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;  
    animation: loading-animation 85s linear infinite;
  }
  
  @keyframes loading-animation {
      to {
          background-position: 4000vh;
      }
  }
}