.user-widget {
  height: 95px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 15px;
  cursor: pointer;
  &-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    background-color: white;
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    top: 80px;
    right: 50px;
    text-decoration: none;
    &:before {
      content: '';
      width: 0;
      position: absolute;
      top: -7px;
      right: 65px;
      border-width: 0 13px 10px 13px;
      border-color: transparent transparent white transparent;
      border-style: solid;
    }
    .separator {
      width: 100%;
      height: 2px;
      border-top: 1px solid white;
      background-color: rgb(218, 218, 218);
      margin: 5px 0;
    }
    a {
      font-size: 15px;
      display: flex;
      align-items: center;
      color: rgb(169 169 169);
      font-weight: 600;
      transition: all 0.3s ease-in-out;
      outline: none!important;
      &:hover {
        color: rgb(135 135 135);
        transition: all 0.3s ease-in-out;
        text-decoration: none;
      }
      margin: 5px;
    }
  }
}