@import '../../../scss/mixins/media-queries';
@import '../../../scss/variables/colors';

.avatar-uploader {
  @include breakpoint('phone') {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }
  input {
    margin-bottom: rem(5px);
  }
  button {
    padding: rem(15px);
    @include breakpoint('phone') {
      font-size: 14px;
    }
  }
  .btn-grey {
    margin-left: rem(15px);
    @include breakpoint('phone') {
      margin-left: 0;
      margin-top: rem(10px);
    }
  }
}