@import '../variables/colors';
@import '../mixins/media-queries';

.four-hundred-four {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
  .illustration {
    margin: auto;
  }
  h1 {
    position: absolute;
    top: 20px;
    font-size: 29rem;
    color: #c9d2e3;
    margin-bottom: 1rem;
    font-weight: bold;
    text-shadow: 3px 1px 0px #6a767e;
    @include breakpoint('phone') {
      font-size: 12rem;
      top: 220px;
    }
  }
  h5 {
    position: relative;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    top: 1.5rem;
    color: $dark-blue-color;
  }
  button {
    position: relative;
    top: 45px;
    font-size: 16px;
  }
}