@import "../variables/colors";
@import "../icons";

.auth-form {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .logo {
    position: relative;
    margin: 10px auto;
    display: block;
    background-image: url("../../../public/assets/img/illus/ant1.png");
    height: 13rem;
    width: 12rem;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;

    .bg-circle {
      width: 195px;
      height: 195px;
      border-radius: 50%;
      background-color: #defff5;
      position: absolute;
      bottom: 0;
      left: -15px;
      z-index: -1;
    }
  }

  .title {
    font-size: 25px;
    font-weight: bold;
    color: #303030;
    margin-top: 1.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
    input {
      width: 300px;
      height: 50px;
      margin: 10px;
      padding: 25px;
      border-bottom: 2px solid #cbcbcb;
      background-color: #e5e5e5;

      &:focus {
        outline: none;
      }
    }
    button {
      width: 300px;
      margin-top: 0;
      font-size: 16px;
    }
  }

  .forgot-password {
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
      color: $green-color;
    }
  }

  .separator {
    height: 2px;
    width: 210px;
    background-color: #e5e5e5;
    display: flex;
    position: relative;
    margin: auto;
    margin-top: 15px;
  }

  .social {
    font-weight: 600;
    font-style: italic;
    margin-top: 15px;
    font-size: 13px;
  }

  .social-auth {
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    width: 130px;

    .discord-btn {
      border: 1px solid #dadce0;
      padding: 8px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: rgba(66,133,244,.1);
        transition: all 0.3s ease-in-out;
      }
    }
  }

  #SignUp-error {
    color: red;
  }
}
