@import '../mixins/media-queries';
@import '../mixins/shadow';
@import '../variables/colors';

.landing-page {
  .left,
  .right {
    display: flex;
    align-items: center;
    display: flex;
    align-items: flex-start;
    @include breakpoint('small-desktop') {
      padding: 30px 20px;
    }
  }

  .bandeau-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../public/assets/img/illus/bandeau.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 330px;
    width: 100%;
    filter: brightness(0.8);
    margin-bottom: 20px;

    @include breakpoint('small-desktop') {
      height: 250px;
    }
    @include breakpoint('tablet') {
      height: 420px;
    }
    @include breakpoint('phone') {
      height: 450px;
    }
    .bandeau {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 2.5rem 0;
      justify-content: center;
      @include breakpoint('phone') {
        display: block;
      }

      .bandeau-title {
       
        font-size: 4rem;
        color: white;
        text-align: center;
        margin-bottom: 2rem;
        font-weight: 900;
        @include breakpoint('small-desktop') {
          font-size: 3.3rem;
        }
        @include breakpoint('tablet') {
          font-size: 3rem;
        }
        @include breakpoint('phone') {
          font-size: 2.3rem;
        }
      }
      .bandeau-stats-container {
        @include breakpoint('phone') {
          display: block;
        }

        .stat {
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          @include breakpoint('tablet') {
            max-height: 150px;
            &:nth-child(1) {
              margin: 0 0 2rem 0;
            }
            &:nth-child(2) {
              margin: 0 0 2rem 0;
            }
          }
          @include breakpoint('phone') {
            &:nth-child(1) {
              margin: 0 0 2rem 0;
            }
            &:nth-child(2) {
              margin: 0 0 2rem 0;
            }
          }
          i {
            margin-bottom: 15px;
          }
          &:hover {
            .text-stat {
              font-size: 65px;
              transition: all 0.3s ease-in-out;
              @include breakpoint('tablet') {
                font-size: 40px;
              }
              @include breakpoint('phone') {
                font-size: 40px;
              }
            }
            .bandeau-colony {
              background-image: url(../../../public/assets/img/landing-page/icons-bandeau/ant-colony-color.svg);
              transition: all 0.3s ease-in-out;
            }
            .bandeau-foundation {
              background-image: url(../../../public/assets/img/landing-page/icons-bandeau/ant-foundation-color.svg);
              transition: all 0.3s ease-in-out;
            }
            .bandeau-user {
              background-image: url(../../../public/assets/img/landing-page/icons-bandeau/user-color.svg);
              transition: all 0.3s ease-in-out;
            }
            .bandeau-breedsheet {
              background-image: url(../../../public/assets/img/landing-page/icons-bandeau/breedsheet-color.svg);
              transition: all 0.3s ease-in-out;
            }
          }
          .text-title {
           
            font-size: 30px;
            color: white;
            text-align: center;
            font-weight: 900;
            @include breakpoint('small-desktop') {
              font-size: 25px;
            }
            @include breakpoint('tablet') {
              font-size: 25px;
            }
            @include breakpoint('phone') {
              font-size: 20px;
            }
          }

          .text-stat {
           
            font-size: 60px;
            color: #31fd02;
            text-align: center;
            font-weight: bold;
            @include breakpoint('small-desktop') {
              font-size: 50px;
            }
            @include breakpoint('tablet') {
              font-size: 35px;
            }
            @include breakpoint('phone') {
              font-size: 35px;
            }
          }
        }
      }
    }
  }
}
