@import '../variables/colors';
@import '../mixins/media-queries';
@import '../mixins/scrollbar';

.profile-page {
  margin: 10px 0;
  margin-top: 50px;
  .profile-head {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    img {
      width: 50px;
      width: 50px;
      background-color: rgb(231, 231, 231);
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        filter: brightness(0.9);
      }
    }
    .bread {
      display: flex;
      align-items: center;
      margin-left: 15px;
      span {
        font-size: 18px;
        color: $dark-blue-color;
        text-transform: capitalize;
        font-weight: bold;
      }
      .separator {
        color: #a09fa9;
        font-size: 24px;
        margin: 0 5px;
        font-weight: 100;
      }
    }
    .user-role {
      margin-left: 1rem;
      font-size: 14px;
    }
    .admin {
      color: #dd2121;
    }
    .moderator {
      color: #2182dd;
    }
  }
  .search-species-results {
    position: absolute;
    background-color: #ededed;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    max-height: 250px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 10;
    @include scrollbars(2px, 5px, $green-light-color, #dedede);
    top: 80px;
    p {
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%;
      width: 100%;
    }
    div {
      margin: 5px 0;
      font-size: 16px;
      font-weight: bold;
      color: #3c3c3c;
    }
  }
  .disclaimer {
    margin-top: 8px;
    font-size: 14px;
    color: #b2b2b3;
  }

  .sub-disclaimer {
    margin-top: 8px;
    font-size: 14px;
    color: $green-color;
    text-decoration: dotted underline;
  }
  .mobile-menu {
    display: none;
    @include breakpoint('phone') {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
      select {
        background-color: #e6e6e6;
        font-weight: bold;
      }
    }
  }
  .content {
    display: flex;
    width: 100%;
    .left-menu {
      display: flex;
      flex-direction: column;
      width: 190px;
      margin-right: 20px;
      @include breakpoint('phone') {
        display: none;
      }
      span {
        cursor: pointer;
        color: $grey-color;
        transition: all 0.3s ease-in-out;
        &:hover {
          transition: all 0.3s ease-in-out;
          color: $dark-blue-color;
        }
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
      .active {
        font-weight: bold;
        color: $dark-blue-color;
      }
    }

    .formulaire {
      display: flex;
      flex-direction: column;
      width: 100%;
      form {
        margin-top: 40px;
        .foot {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
    .form-avatar {
      display: flex;
      align-items: center;
    }
    .form-block {
      display: flex;
      label {
        color: $dark-blue-color;
        font-weight: bold;
        margin-left: 2px;
        margin-bottom: 8px;
        font-size: 14px;
        white-space: nowrap;
      }

      &:not(:first-child) {
        flex-direction: column;
        align-items: flex-start;
      }
      &:not(:last-child) {
        margin-bottom: 40px;
        flex-direction: column;
      }
      display: flex;
      input {
        padding: 15px;
        &::placeholder {
          color: #a7a7a7;
        }
      }
    }
    .count-words {
      position: absolute;
      right: 16px;
      font-weight: bold;
      font-size: 13px;
    }
    .web-input {
      display: flex;
      width: 100%;
      position: relative;
      .url {
        z-index: -1;
        display: flex;
        align-items: center;
        padding: 15px;
        border: 3px solid #e7e7e9;
        border-radius: 8px 0 0 8px;
        height: 50px;
        span {
          z-index: -1;
          font-size: 15px;
          color: #949494;
          font-style: italic;
          font-weight: bold;
        }
      }
      input {
        border-left: none;
        border-radius: 0 8px 8px 0;
      }
    }
    .avatar {
      min-width: 80px;
      height: 80px;
      border-radius: 50%;
      display: block;
      background-color: rgb(231, 231, 231);
      background-size: cover;
      margin-right: 30px;
    }
  }
}
