.icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.caret-select-down-white,
.caret-select-down-black {
  width: 20px;
  height: 20px;
}
.caret-select-down-white {
  background-image: url('../../public/assets/svg/caret/caret-select-down-white.svg');
}

.caret-select-down-black {
  background-image: url('../../public/assets/svg/caret/caret-select-down-black.svg');
}

.cross-white {
  background-image: url('../../public/assets/svg/cross.svg');
  width: 30px;
  height: 30px;
  margin-left: 1rem;
  display: inline-flex;
}

// User Menu
.user-menu-profile {
  width: 17px;
  height: 17px;
  display: inline-flex;
  margin-right: 5px;
  background-image: url('../../public/assets/svg/user-menu/user.svg');
}

.user-menu-gear {
  width: 17px;
  height: 17px;
  display: inline-flex;
  margin-right: 5px;
  background-image: url('../../public/assets/svg/user-menu/gear.svg');
}

.user-menu-modo {
  width: 17px;
  height: 17px;
  display: inline-flex;
  margin-right: 5px;
  background-image: url('../../public/assets/svg/user-menu/shield.svg');
}


.user-menu-admin {
  width: 17px;
  height: 17px;
  display: inline-flex;
  margin-right: 5px;
  background-image: url('../../public/assets/svg/user-menu/sword.svg');
}

.user-menu-logout {
  width: 17px;
  height: 17px;
  display: inline-flex;
  margin-right: 5px;
  background-image: url('../../public/assets/svg/user-menu/logout.svg');
}

.discord {
  width: 23px;
  height: 23px;
  display: inline-flex;
  background-image: url('../../public/assets/svg/discord.svg');
}

.activation {
  width: 23px;
  height: 23px;
  display: inline-flex;
  background-image: url('../../public/assets/svg/success.svg');
}

.error {
  width: 23px;
  height: 23px;
  display: inline-flex;
  background-image: url('../../public/assets/svg/error.svg');
}

