@import './mixins/scrollbar';
@import './variables/colors';
@import './utils/normalize.scss';
@import './utils/animate.scss';
@import './icons.scss';
@import 'scss-reset/_reset.scss';
@import './variables/colors';
@import './mixins/media-queries';

.grecaptcha-badge { 
  visibility: hidden;
}

body {
  font-size: 16px;
  @include scrollbars(2px, 5px, $green-light-color, #dedede);
  overflow-x: hidden;
  width: 100%;
}

main {
  min-height: calc(100vh - 470px);
}

a {
  text-decoration: none;
}

p,
span,
button,
input,
textarea,
select,
label {
  letter-spacing: 1px;
  word-spacing: 1px;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
select {
  /* styling */
  background-color: white;
  border-radius: 8px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 1em 0.5em 1em;

  /* reset */

  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type='password'],
input[type='email'],
input[type='number'],
input[type='tel'],
input[type='url'],
input[type='search'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='datetime'],
input[type='datetime-local'],
input[type='color'],
select {
  outline: none;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

input[type="password"],
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(5, 2, 2);
  -webkit-box-shadow: 0 0 0px 1000px $grey-bg-color inset;
  transition: background-color 5000s ease-in-out 0s;
  font-size: 16px !important;
  border-radius: 8px;
}
input:-webkit-autofill::first-line {
  font-size: 16px !important;
  font-style: normal !important;
}

input[type='text'], input[type="date"], input[type="password"],textarea {
  width: 100%;
  border: 3px solid #e7e7e9;
  border-radius: 8px;
  height: 50px;
  font-size: 15px;
  position: relative;
}
textarea {
  height: auto;
}

.select-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  .minimal {
    width: 100%;
    border: 3px solid #e7e7e9;
    border-radius: 8px;
    height: 50px;
    font-size: 15px;
    position: relative;
    background-image: url('/assets/svg/caret/caret-select-down-black.svg');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);
    padding-left: 1rem;
    cursor: pointer;
  }
}

.multi-inputs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  @include breakpoint('phone') {
    flex-direction: column;
    &:not(:first-child) {
      margin-bottom: 20px;
    }
  }
  .select-container {
    flex-direction: column;
    align-items: flex-start;
    &:not(:last-child) {
      margin-right: 20px;
    }
    @include breakpoint('phone') {
      flex-direction: column;
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
}

.btn-disabled {
  cursor: not-allowed !important;
  filter: grayscale(1);
  pointer-events: inherit !important;
}

.btn {
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 14px;
  font-weight: bold;
  padding: 15px 25px;
  letter-spacing: 1.5px;
  text-transform: capitalize;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-white {
  color: black;
  background-color: white;
  border-bottom: 3px solid #cacaca;
  &:hover {
    background-color: rgb(228, 228, 228);
  }
}

.btn-green {
  color: white;
  background-color: $green-color;
  border-bottom: 3px solid $green-dark-color;
  &:hover {
    background-color: $green-dark-color;
    border-bottom: 3px solid $green-darker-color;
  }
}

.btn-grey {
  color: $dark-blue-color;
  background-color: $grey-btn-soft-color;
  border-bottom: 3px solid $grey-dark-color;
  &:hover {
    background-color: $grey-dark-color;
    border-bottom: 3px solid $grey-darker-color;
  }
}

.btn-red {
  color: white;
  background-color: $red-color;
  border-bottom: 3px solid $red-dark-color;
  &:hover {
    background-color: $red-dark-color;
    border-bottom: 3px solid $red-darker-color;
  }
}

.error-message {
  color: #d94f4f;
  font-size: 12px;
  font-weight: bold;
  margin: 5px 0;
  margin-bottom: 10px;
  max-width: 300px;
}

.admin {
  color: $red-color !important;
  &:hover {
    color: #ef0909 !important;
  }
}
.moderator {
  color: $blue-color !important;
  &:hover {
    color: #1281ff !important;
  }
}

.display-flex {
  display: flex;
}
.display-block {
  display: block;
}
.display-none {
  display: none;
}
.no-padding {
  padding: 0 !important;
}
