@import '../../../styles/mixins/media-queries';
@import '../../../styles/variables/colors';
@import '../../../styles/mixins/utils';

.menu-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $white-color;
  height: 80px;
  padding: 0 5px;
  border-bottom: 1px solid #ddd;
  @include breakpoint('phone') {
    display: none;
  }
  @include breakpoint('tablet') {
    display: none;
  }

  .logo {
    @include breakpoint ('small-desktop') {
      width: 50px;
      height: 50px;
    }
    @include breakpoint ('tablet') {
      width: 50px;
      height: 50px;
    }
  }

  .menu {
    display: flex;
    align-items: center;
    width: 100%;
    .menu-item {
      white-space: nowrap;
      position: relative;
      margin-left: 30px;
      color: $grey-light-color;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-transform: capitalize;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      &:hover {
        color: $green-color;
      }
      @include breakpoint('small-desktop') {
        font-size: 14px;
      }
      @include breakpoint('tablet') {
        font-size: 14px;
      }
    }
    .menu-item-highlight {
      color: $dark-blue-color;
      &:after {
        @include expandFromCenter(0.2s);
        position: absolute;
        content: '';
        height: 3px;
        width: 100%;
        display: flex;
        background-color: $green-color;
        border-radius: 360px;
        top: 22px;
        left: 0px;
      }
    }
  }
  .header-modules {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    padding: 0px 20px;
    z-index: 10;
  }
}