@import '../../../../styles/variables/colors';
@import '../../../../styles/mixins/media-queries';

.white {
  position: absolute;
  top: 15px;
  right: 20px;
  border: 2px solid white;
  span {
    color:white;
  }
}
.black {
  position: relative;
  border: 2px solid black;
  span {
    color: black;
  }
}

.switch-lang {
  z-index: 9;
  height: 40px;
  width: 65px;
  border-radius: 45px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  @include breakpoint('phone') {
    height: 30px;
    width: 55px;
    top: 5px;
    right: 5px;
  }

  span {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    @include breakpoint('phone') {
      font-size: 12px;
    }
  }

  .options {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 45px;
    width: 50px;
    left: -5px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint('phone') {
      top: 40px;
      left: -5px;
    }
    span {
      color: white;
      text-transform: uppercase;
      font-size: 14px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        transition: all 0.3s ease-in-out;
        color: $green-light-color;
      }
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  i {
    margin-left: 10px;
    position: absolute;
    right: 6px;
    @include breakpoint('phone') {
      right: 7px;
    }
  }
}
