@import "../../../../styles/variables/colors";
@import "../../../../styles/icons";

.send-verification, .reset-pwd, .backup {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  margin-top: 30px;

  .error-token {
    margin-top: 15px;
    background-color: #e54646;
    padding: 10px;
    border-radius: 8px;
    color: #f1f1f1;
    margin-bottom: 17px;
  }

  .google {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    background-color: #e3f1ff;
    border-radius: 8px;
    padding: 4px 6px;
    color: #63748f;
    margin-top: 25px;
    margin-bottom: 15px;
    max-width: 310px;
    a {
      color: $green-color;
      text-decoration: underline;
    }
  }

  .logo {
    position: relative;
    margin: 10px auto;
    display: block;
    background-image: url("../../../../../public/assets/img/illus/ant5.png");
    height: 15rem;
    width: 11.5rem;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 30px;

    .bg-circle {
      width: 195px;
      height: 195px;
      border-radius: 50%;
      background-color: #defff5;
      position: absolute;
      bottom: 0;
      left: -15px;
      z-index: -1;
    }
  }

  .title {
    font-size: 25px;
    font-weight: bold;
    color: #303030;
    margin-top: 1.5rem;
  }

  input, input[type='text'], input[type="password"] {
    width: 300px;
    height: 50px;
    margin: 10px;
    padding: 25px;
    border-bottom: 2px solid #cbcbcb;
    background-color: #e5e5e5;
    border: 3px solid #e7e7e9;
    border-radius: 8px;
    font-size: 15px;
    position: relative;


    &:focus {
      outline: none;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;

    input, input[type='text'], input[type="password"] {
      width: 300px;
      height: 50px;
      margin: 10px;
      padding: 25px;
      border-bottom: 2px solid #cbcbcb;
      background-color: #e5e5e5;
      border: 3px solid #e7e7e9;
      border-radius: 8px;
      font-size: 15px;
      position: relative;


      &:focus {
        outline: none;
      }
    }

    button {
      width: 300px;
      margin-top: 0;
      font-size: 16px;
    }
  }

}