@import '../../scss/variables/colors';
@import '../../scss/mixins/media-queries';
@import '../../scss/mixins/utils';

.header {
  width: 100%;
  position: relative;

  .desktop-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $white-color;
    height: 80px;
    padding: 0 5px;
    border-bottom: 1px solid #ddd;
    .logo {
      background-image: url(../../assets/img/logo.png);
      background-repeat: no-repeat;
      background-size: contain;
      min-width: 60px;
      height: 70px;
    }
    .menu {
      display: flex;
      align-items: center;
      width: 100%;
      .menu-item {
        white-space: nowrap;
        position: relative;
        margin-left: 30px;
        color: $grey-light-color;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-transform: capitalize;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        &:hover {
          color: $green-color;
        }
      }
      .menu-item-highlight {
        color: $dark-blue-color;
        &:after {
          @include expandFromCenter(0.2s);
          position: absolute;
          content: '';
          height: 3px;
          width: 100%;
          display: flex;
          background-color: $green-color;
          border-radius: 360px;
          top: 18px;
        }
      }
    }
    .header-modules {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-grow: 1;
      margin-left: 10px;
      z-index: 10;
      .user-widget {
        height: 95px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: inherit;
        margin-right: 15px;
        &-menu {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          position: fixed;
          background-color: white;
          width: 150px;
          padding: 10px;
          border-radius: 8px;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          top: 80px;
          right: 46px;
          text-decoration: none;
          &:before {
            content: '';
            width: 0;
            position: absolute;
            top: -7px;
            right: 65px;
            border-width: 0 13px 10px 13px;
            border-color: transparent transparent white transparent;
            border-style: solid;
          }
          .separator {
            width: 100%;
            height: 2px;
            border-top: 1px solid #ffffff;
            background-color: rgb(218, 218, 218);
            margin: 5px 0;
          }
          a {
            font-size: 15px;
            display: flex;
            align-items: center;
            color: rgb(169 169 169);
            font-weight: 600;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: rgb(135 135 135);
              transition: all 0.3s ease-in-out;
            }
            margin: 5px;
          }
        }
        img {
          cursor: pointer;
          min-width: 50px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 2px solid #e7e7e7;
        }
      }
      .switch-lang {
        position: relative;
        border: 2px solid $dark-blue-color;
        top: inherit;
        right: inherit;
        width: 60px;
        min-width: 60px;
        left: 5px;

        span {
          color: $dark-blue-color;
        }
        .caret-select-down-white {
          background-image: url(../../assets/svg/caret/caret-select-down-black.svg);
        }
        .options {
          padding: 10px 0;
          left: 4px;
          background-color: $dark-blue-color;
          border-radius: 8px;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
          span {
            color: white;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: $green-color;
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }
}
