$white-color: #f4f5fa;
$green-light-color: #3ce715;
$green-color: #45be29;
$green-dark-color: #3d9629;
$green-darker-color: #327b21;
$grey-color: #9b9b9b;
$grey-light-color: #7f7e8a;
$grey-btn-soft-color: #e6e6e6;
$grey-dark-color: #cccccc;
$grey-darker-color: #a7a7a7;
$grey-bg-color: #e5e5e5;
$grey-bg-light-color: #e3e3e3;
$dark-blue-color: #0f0e24;
$red-color: #ef0909;
$red-dark-color: #8d0909;
$red-darker-color: #610808;
$blue-color: #357ac9;

