@import '../../../styles/icons.scss';

.coin-widget {
  cursor: pointer;
  div {
    display: flex;
    align-items: center;
    margin-right: 15px;
    padding: 5px;
    background-color: #dbdbdb;
    border: 1px solid white;
    border-radius: 50px;
    min-width: 95px;
    span {
      font-size: 13px;
      margin-left: 8px;
      font-weight: 900;
      color: #4c4b46;
    }
  }
}