@import "../../styles/variables/colors";
  
  .section {
    span {
      font-size: 18px;
      font-weight: bold;
    }
  }
  
  .link-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

    .link {
      font-size: 14px;
      font-weight: normal;
      margin: 10px 0;
      cursor: pointer;
      transition: all .2s ease-in-out;
      &:hover {
        color: $green-color;
        transition: all .2s ease-in-out;
      }
    }
  }