@import "../../styles/variables/colors";
@import "../../styles/icons";

.footer {
  display: flex;
  align-items: center;
  background-color: $grey-bg-color;
  bottom: 0;
  min-height: 390px;
  width: 100%;
  padding: 15px 75px 15px 35px;
  border-top: 3px solid lightgrey;

  .brand-container {
    display: flex;
    height: 100%;
    align-items: center;
    .logo-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .brand-name {
      font-size: 28px;
      font-weight: 900;
      margin-top: 5px;
      color: black;
      span {
      color: $green-color;

      }
    }
    .social {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 20px;
      
    position: relative;
    top: -25px;

      .background-social {
        min-width: 44px;
        border-radius: 8px;
        padding: 6px;
        &:not(:last-child) {
          margin-bottom: 15px;
        }
        &:hover {
          -webkit-transform-origin: top center;
          transform-origin: top center;
          -webkit-animation-name: swing;
          animation-name: swing;
        }
      }
      .icon {
        cursor: pointer;
      }
    }
  }
  .separator {
    height: 3px;
    background-color: #a6a6a6;
    margin: 15px 0;
    width: 100%
  }
  @keyframes swing {
    20% {
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    40% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    60% {
        -webkit-transform: rotate(5deg);
        transform: rotate(5deg);
    }
    80% {
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
  }

}
