@import "../../../styles/mixins/media-queries";
@import "../../../styles/variables/colors";

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  max-height: 485px;
  @include breakpoint("phone") {
    height: 190px;
  }

  video {
    z-index: -1;
    @include breakpoint("phone") {
      -moz-transform: scale(1.5);
      -webkit-transform: scale(1.5);
      -o-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5);
    }
  }

  .logo {
    cursor: pointer;
    position: absolute;
    opacity: 0.5;
    background-image: url("../../../../public/assets/img/logo.png");
    background-repeat: no-repeat;
    top: 15px;
    left: 15px;
    background-size: contain;
    width: 75px;
    height: 80px;
    z-index: 15;
    transition: all 0.3s ease-in-out;
    &:hover {
      transition: all 0.3s ease-in-out;
      opacity: 1;
    }
    @include breakpoint("phone") {
      width: 50px;
      height: 50px;
      left: 5px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  img {
    @include breakpoint("phone") {
      max-width: max-content !important;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
    h1 {
      text-transform: uppercase;

      color: white;
      font-size: 72px;
      letter-spacing: 4px;
      font-weight: 900;
      @include breakpoint("phone") {
        font-size: 30px;
        margin-bottom: 0px;
      }
      @include breakpoint("tablet") {
        font-size: 45px;
        margin-bottom: 10px;
      }
      span {
        color: $green-light-color;
      }
    }

    .buttons {
      display: flex;
      margin: 20px;
      width: 100%;
      justify-content: center;
      @include breakpoint("phone") {
        margin: 0;
      }
      button {
        margin: 0 10px;
        display: flex;
        align-items: center;
        display: flex;
        align-items: center;
        @include breakpoint("desktop") {
          font-size: 22px;
        }
        @include breakpoint("small-desktop") {
          max-height: 100%;
          font-size: 22px;
        }
        @include breakpoint("tablet") {
          max-height: 100%;
          font-size: 18px;
        }
        @include breakpoint("phone") {
          max-height: 100%;
          margin: 0 5px;
          padding: 10px 13px;
          margin-top: 5px;
        }
      }
    }

    .baseline {
      text-align: center;
      color: white;
      font-size: 30px;
      letter-spacing: 2.5px;
      line-height: 35px;
      max-width: 80%;
      @include breakpoint("tablet") {
        max-width: 90%;
        font-size: 18px;
      }
      @include breakpoint("phone") {
        font-size: 14px;
        max-width: 75%;
        margin-bottom: 0px;
        line-height: 16px;
      }
    }
  }
  .overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: (100%);
    background: $dark-blue-color;
    background: linear-gradient(
      180deg,
      rgba(15, 14, 36, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}
