@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: 1201px) {
      @content;
    }
  } @else if $point == small-desktop {
    @media (min-width: 993px) and (max-width: 1200px) {
      @content;
    }
  } @else if $point == tablet {
    @media (min-width: 768px) and (max-width: 992px) {
      @content;
    }
  } @else if $point == phone {
    @media (min-width: 0px) and (max-width: 767px) {
      @content;
    }
  }
}
