@mixin shadow($shadow) {
  @if $shadow ==0 {
    box-shadow: none;
  } @else {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.09);
  }
}
