@mixin expandFromCenter($speed) {
  @keyframes lineCenter {
    from {
      left: 50%;
      width: 0%;
    }
    to {
      left: 0%;
      width: 100%;
    }
  }
  animation: lineCenter $speed linear;
}
